.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 10;
  top: 0;






  > div {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    transition: all 350ms linear;
  }



  .logo-container {
    margin-inline: auto;
    margin-block: auto;
    max-width: 9.375rem;
    width: fit-content;
    height: 3rem;


    img.logo {
      max-width: 100%;
      width: fit-content;
      height: 100%;
      object-fit: contain;
    }
  }

  .nav-toggler {
    padding: 0 0.938rem;
    color: #3e5569;
    margin-block: auto;
    height: fit-content;
    cursor: pointer;
  }

  .navbar {
    width: 100%;
    flex-grow: 1;
    padding: 0;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 350ms ease;
    transform: translateY(0%);
    display: block;

    &,
    & * {
      z-index: 8;
    }

    &.open {
      transform: translateY(100%);
    }

    .navbar-nav {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0 7px;
      margin: 0;
    background: rgb(255, 255, 255);
      background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 1) 11%,
      rgba(58,  130, 255, 1) 33%,
      rgba(65,  137, 255, 1) 100%);

      .nav-item {
        margin-block: auto;
        margin-inline: 1rem;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        
        &:first-child {
          margin-inline-start: auto;

        }

        a {
          color: rgba(255, 255, 255, 0.8);
        }

        .dropdown-menu-right {
          box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 8%);
          position: absolute;
          right: 0;
          left: auto;

          a {
            color: rgb(33, 37, 41);

            i {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }

      .lang-inner-container {
        position: relative;

        .langs-list {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 120%;
          cursor: default;
          padding: 0;
          transform: translateX(-35%);
          width: 4rem;
          margin: 0;
          max-height: 0;
          border-radius: 0.3rem;
          transition: all 250ms ease;
          background-color: white;
          color: #000;
          box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 14%);

          .lang-item {
            cursor: pointer;
            display: flex;
            margin-block: 2px 4px;

            i {
              margin-inline: 4px 16px;
            }
          }
        }
      }
      .lang-container.open .bd {
        position: absolute;
        cursor: default;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }
      .lang-container.open .langs-list {
        max-height: 100px;
        padding: 8px 0.5rem;
      }
    }
  }
}

.hidden {
  display: none !important;
}

@media (min-width: 1170px) {
  .header {
    > div {
      width: 13.5rem !important;
      border-radius: 20px;
      transform: translateX(-45%);
      transition: all 350ms linear;

      &.open {
        transform: translateX(0);

      }

      .logo-container {
        order: -1;
      }

      .navbar {
        right: 0;
        left: auto;
      }
    }

    &.open-sidebar > div {
      transform: translateX(0);
    }
  }
}




.w-w{

min-width: 2rem !important;;
}

.sidebar_header{
     display: flex;
      height: 100%;
      width: 100%;
      border-radius: 0px 10px 5px 0px !important;
      position: absolute;
      z-index: 10;
      transition: all 350ms linear;
.s-header {
    display: flex;
    height: 100%;

   width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
   padding-top: 10px;

}

                        .s-s-footer {
                          margin-top: auto;
                          margin: 0.4rem;
                          margin-top: 10px;
                          margin-left: 3rem;
                          background-color: #f2f2f2;
                          border: #e3e3e3 1px solid;
                          border-radius: 3px;
                          padding-top: 5px;
                          width: 3.5rem;

                          &:hover {
                            background-color: #e7e7e7;
                          }
                        }

                        .s-footer {
                          margin-top: auto;
                          margin: 1rem 6px 6px 6.5rem;
                          border-radius: 7px;
                          width: 4rem;
                          z-index: 10000;
                          box-shadow:
                          rgba(60, 64, 67, 0.13) 0px 1px 2px 0px,
                          rgba(60, 64, 67, 0.055) 0px 2px 6px 2px;
                          padding-top:    7px;
                          padding-bottom: 6px;
                          padding-left:   5px;
                          padding-right:  8px;
                          .close-footer{
                        a {
                            .w-w-icon {
                            font-size: 1.4rem;
                            }
                          }
                        }
                        }

}

     .header-side{
        width: 4rem;
        padding: auto;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: sticky;

        top: 50;
        left: 50;


          >a {
            >i {
              font-size: 10px;
              margin-top: auto !important;
            }
          }
      }






.w-w{
margin: auto;

}


    .w-w-icon {
        font-size: 1.3rem;

      }
.logoo{
  padding: 0.1rem;
  border-radius: 5px;
 background-color: #f4f1f1a2;
 color: rgb(77, 77, 77);
 font-size: 18px;



}
