

    <div *ngIf="!showSidebar && showSidebarItomHover"  [ngStyle]="{'top':sidebarDetailXP}" class="details "
    (mouseenter)="mouseaSideDetailsEnter()"
    (mouseleave)="mouseSideDetailsLeave() "
    >
       <!-- <textarea>{{dibuger |json}}</textarea> -->


      <aside  class="sidebar_2" [ngClass]="{
              'open': true,
              'dark-mode': darkMode,
              'leight-mode': !darkMode
            }">
        <main class="s-main">
          <div  class="s-ul ">
            <ng-container *ngFor=" let i of [showData]">
              <div class="col-12  ">
                <div class="tabs">
                  <div *ngIf="i.items?.length == 0;else  elseBlock" class="tab">
                    <div  [routerLink]="i?.routerLink"
                      class="notlabel">
                      <span>
                        <i *ngIf="i.icon" class=" icon {{i?.icon}}"></i>
                      </span>
                      <span class="show_lable one_label"> {{i.label|titlecase}}</span>

                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <div class="tab">
                      <input checked type="checkbox" id="{{sidebarNavItems.length}}---{{ i.label}}" >
                      <label class="tab-label" for="{{sidebarNavItems.length}}---{{ i.label}}" >
                        <span>
                          <i *ngIf="i.icon" class=" icon {{i?.icon}}"></i>
                        </span>
                        <span  class="show_lable one_label">
                          {{i.label|titlecase}}
                        </span>
                      </label>
                      <div *ngIf="i.items?.length" class="tab-content">
                        <ng-container *ngTemplateOutlet="childOpened_2; context:{items: i.items , index:1}">
                        </ng-container>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </ng-container>
          </div>

        </main>

      </aside>



    </div>




















































<aside class="sidebar"
      [ngClass]="{
        'open': showSidebar,
        'close': !showSidebar,
        'dark-mode': darkMode,
        'leight-mode': !darkMode
      }"

>



    <main class="s-main">

      <div *ngIf="sidebarNavItems.length" class="s-ul " >
        <ng-container *ngFor=" let i of sidebarNavItems ;let x = index">
          <div class="col-12  " >
            <div class="tabs">
              <div *ngIf="i.items?.length == 0;else  elseBlock" class="tab">
              <div    *ngIf="!i.routerLink"
                (click)="activeF(i)"
                [ngClass]="activeDataChicker==i?'active':''"
                (mouseenter)="mouseEnter(i,x)"
                (mouseleave)="mouseLeave(i,x)"
                [routerLink]="i?.routerLink" class="notlabel">
                      <span *ngIf="activeDataChicker==i" class="y"></span>
                <span

                (click)="showSidebarF()">
                   <i *ngIf="i.icon" class=" icon {{i?.icon}}"></i>
                </span>

                <span
                *ngIf="showSidebar"

                class="show_lable one_label"
                >

              {{i.label|titlecase}}</span>

                </div>
                        <div
                        (click)="activeF(i)"
                        [ngClass]="activeDataChicker==i?'active':''"
                        *ngIf="i.routerLink"
                        (mouseenter)="mouseEnter(i,x)"
                        (mouseleave)="mouseLeave(i,x)"
                        [routerLink]="i?.routerLink"
                          class="notlabel">
                          <span *ngIf="activeDataChicker==i" class="y">
                          </span>
                          <span>
                            <i *ngIf="i.icon" class=" icon {{i?.icon}}"></i>
                          </span>
                          <span *ngIf="showSidebar" class="show_lable one_label">  {{i.label|titlecase}}</span>
                          </div>
              </div>
              <ng-template #elseBlock>
                <div  class="tab">
                  <input *ngIf="showSidebar"  type="checkbox" id="{{sidebarNavItems.length}}-{{ i.label}}">
                  <input *ngIf="!showSidebar"(click)="showSidebarF()" type="button" id="{{sidebarNavItems.length}}-{{ i.label}}">
                  <label


                  class="tab-label" for="{{sidebarNavItems.length}}-{{ i.label}}"

                    (mouseenter)="mouseEnter(i,x)"
                    (mouseleave)="mouseLeave(i,x)"
                  >
                    <span>
                      <i *ngIf="i.icon" class=" icon {{i?.icon}}"></i>
                    </span>
                    <span *ngIf="showSidebar"  class="show_lable one_label">
                  {{i.label|titlecase}}
                    </span>
                    <div class="row init"></div>
                  </label>
                  <div *ngIf="i.items?.length" class="tab-content">
                    <ng-container *ngTemplateOutlet="childOpened; context:{items: i.items , index:1}">
                    </ng-container>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>

    </main>
    <!-- <footer  class="s-footer">
      <div class="opened-footer">
       <div class="row">
         <div class="col-4 m-autoo ">
            <div class="fo">
            </div>
         </div>
          <div class="col-8 ">
          <div class="row">
               <h6>{{"ahmed aoulad"|titlecase}}</h6>
          </div>
          <div class="row"></div>
          <p class="etat">
          {{"driver chif"|titlecase}}
          </p>

          </div>
      </div>

      </div>


    <div class="close-footer">
      <div class="fo">
      </div>
    </div>
    </footer>
</aside> -->

<ng-template #childOpened let-items="items" let-i="index">
  <ul class="s-ul shecend_body">
    <ng-container *ngFor="let s of items ;let x = index">
        <span *ngFor="let x of array(i).fill('*');"><span class="s-nevo-spice "></span></span>
         <div class="col ">
          <div class="tabs ">
            <div *ngIf="s.items?.length== null" class="tab">

                 <div
                 (click)="activeF(s)"
                 [ngClass]="activeDataChicker==s?'active':''"
                (mouseenter)="mouseEnter(s,x)"
                 (mouseleave)="mouseLeave(s,x)"
                 [routerLink]="s?.routerLink" class="notlabel">
                       <span *ngIf="activeDataChicker==s" class="y"></span>
                       <span class=" show_lable secend_label">
                    {{s.label |titlecase}}</span>
                 </div>

            </div>
            <div *ngIf="s.items?.length" class="tab">
              <input class="input" type="checkbox" id="{{s.length}}-{{i}}-{{ s.label}}">
              <label
                    (mouseenter)="mouseEnter(i)"
                    (mouseleave)="mouseLeave(i)"
              class="tab-label" for="{{s.length}}-{{i}}-{{ s.label}}">

                <span class=" show_lable one_label">  {{s.label|titlecase}}</span>
                <div class="row init-2"></div>
              </label>
              <div *ngIf="s.items?.length" class="tab-content">
                <ng-container *ngTemplateOutlet="childOpened ; context:{items: s.items ,index: i+1}">
                </ng-container>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
  </ul>
</ng-template>

<ng-template #childOpened_2 let-items="items" let-i="index">
  <ul class="s-ul shecend_body">
    <ng-container *ngFor="let s of items">
      <span *ngFor="let x of array(i).fill('*');"><span class="s-nevo-spice "></span></span>
      <div class="col ">
        <div class="tabs ">
          <div *ngIf="s.items?.length== null" class="tab">

            <div
                 (click)="activeF(s)"
                 [ngClass]="activeDataChicker==s?'active':''"
                 [routerLink]="s?.routerLink"
              class="notlabel">
             <span *ngIf="activeDataChicker==s" class="y"></span>
              <span class=" show_lable secend_label"> {{s.label |titlecase}}</span>
            </div>

          </div>
          <div *ngIf="s.items?.length" class="tab">
            <input   class="input" type="checkbox" id="{{s.length}}---{{i}}---{{ s.label}}">
            <label class="tab-label"
              for="{{s.length}}---{{i}}---{{ s.label}}">

              <span class=" show_lable one_label"> {{s.label|titlecase}}</span>
                  <div class="row init-2"></div>
            </label>
            <div *ngIf="s.items?.length" class="tab-content">
              <ng-container *ngTemplateOutlet="childOpened_2 ; context:{items: s.items ,index: i+1}">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ul>
</ng-template>




















<!-- <ng-template #childClosed let-items="items" let-i="index">
  <ul class="s-ul shecend_body">
    <ng-container *ngFor="let s of items">
      <span *ngFor="let x of array(i).fill('*');"><span class="s-nevo-spice "></span></span>
      <div class="col ">
        <div class="tabs ">
          <div *ngIf="s.items?.length== null" class="tab">

            <div [routerLink]="s?.routerLink" class="notlabel">

              <span class="secend_label">{{s.label |titlecase}}</span>
            </div>

          </div>
          <div *ngIf="s.items?.length" class="tab">
            <input class="input" type="checkbox" id="{{s.length}}-{{i}}-{{ s.label}}">
            <label class="tab-label" for="{{s.length}}-{{i}}-{{ s.label}}">

              <span class="one_label">{{s.label|titlecase}}</span>
            </label>
            <div *ngIf="s.items?.length" class="tab-content">
              <ng-container *ngTemplateOutlet="childClosed  ; context:{items: s.items ,index: i+1}">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ul>
</ng-template> -->





<!-- <aside class="sidebar" [ngClass]="showSidebar ? 'open' : ''"> -->
<!--  -->
<!--  -->
<!-- </aside> -->
<!--  -->
