@import "../../../../../assets/scss/variables";

$label-font-size: 0.8rem;
$lable-color: #666666;
$label-margin-inline: 20px;

$bg-one: #ffffff;
$childoff: #ffffff85;
$clouds: #7e7e7e;
$p-color: #1a8cd8;

$su_border_menu_width: 4px;
$su_border_menu_radius: 0px 0px 0px 10px;

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

.sidebar {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: $bg-one;
  overflow: hidden auto;
  height: calc(100% - 4rem);
  z-index: 9;
  bottom: 0;
  left: 0;
  transition: 350ms ease-in;
  transform: translateX(-100%);

  .s-main {
    margin: auto;
    margin: 7px 7px;
    background-color: $b_color_itomes_of_the_sidebar;
    border-radius: 7px;
    padding: 5px 5px;

    // box-shadow: rgba(60, 64, 67, 0.13) 0px 1px 2px 0px, rgba(60, 64, 67, 0.055) 0px 2px 6px 2px;
    //
    .shecend_body {
      // border-left: #cacaca57 solid 2px;
      margin-left: 0.1rem;
      background: darken($bg-one, 1%);
    }
    .s-ul {
      list-style: none;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0px 0px;

      .col-12 {
        .tabs {
          border-radius: 7px;
          overflow: hidden;

          .tab {
            width: 100%;
            color: darken($lable-color, 30%);
            overflow: hidden;

            &:hover {
              color: darken($lable-color, 80%);
            }

            &-label {
              width: 100%;
              padding: 0.7em;
              background: $bg-one;
              font-weight: bold;
              cursor: pointer;

              /* Icon */
              &:hover {
                background: darken($bg-one, 2%);

                .one_label {
                  color: darken($lable-color, 30%);
                }
              }
            }

            .notlabel {
              display: flex;
              padding: 0.7em;
              background: darken($bg-one, 1%);
              font-weight: bold;
              cursor: pointer;

              /* Icon */
              &:hover {
                background: darken($bg-one, 5%);
                .secend_label {
                  color: darken($lable-color, 5%);
                }
              }
            }

            &-content {
              max-height: 0;
              padding: 0 0em;
              color: $bg-one;
              background: rgb(255, 255, 255);
              transition: all 0.35s;
            }

            &-close {
              display: flex;
              justify-content: flex-end;
              padding: 1em;
              font-size: 0.75em;
              background: $bg-one;
              cursor: pointer;

              &:hover {
                background: darken($bg-one, 2%);
              }
            }
            input {
              position: absolute;
              opacity: 0;
              z-index: -1;
            }
            input:checked {
              + .tab-label {
                background: darken($bg-one, 2%);

                .init {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-bottom: $p-color 0.1px dotted;
                    // box-shadow: darken($p-color, 10%) 0px 4px 450px 5px,
                    //   darken($p-color, 10%) 0px -12px 450px 30px,
                    //   darken($p-color, 10%) 0px 4px 450px 6px,
                    //   lighten($p-color, 90%) 0px 12px 50px 13px,
                    //   lighten($p-color, 30%) 0px -3px 50px 5px,
                    //   lighten($p-color, 30%) 0px 30px 60px -12px inset,
                    //   lighten($p-color, 10%) 0px 18px 36px -18px inset;
                  }

                  .init-2 {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-bottom: $p-color 0.1px dotted;

                  }
                .one_label {
                  color: darken($lable-color, 70%);
                }

                &::after {
                  transform: rotate(90deg);
                }
              }
              ~ .tab-content {
                max-height: 100vh;
              }
            }
            .one_label {
              font-size: $label-font-size;
              color: $lable-color;
              margin-inline: $label-margin-inline !important;
              &:hover {
                color: darken($lable-color, 70%);
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
              }
            }

            .secend_label {
              font-size: calc($label-font-size - 15%);
              color: lighten($lable-color, 10%);
              margin-inline: $label-margin-inline !important;

              &:hover {
                color: darken($lable-color, 3%);
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
              }
            }
          }
        }
      }
    }
  }

  .s-footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    background-color: $b_color_itomes_of_the_sidebar;
    border-radius: 7px;
    padding: 5px;
    padding-bottom: 0px;
    width: 95%;
    margin: 30px 10px 12px 10px;
    box-shadow: rgba(60, 64, 67, 0.171) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.075) 0px 2px 6px 2px;
    .opened-footer {
      .opened-footer-content {
        .s-t {
          color: rgb(0, 0, 0) !important;
        }

        .text-sm {
          color: rgb(0, 0, 0) !important;
        }

        .d-grid {
        }
      }
    }
    .close-footer {
    }
  }

  &.close {
    transform: translateX(0);
  }

  &.open {
    transform: translateX(0);
  }

  @media (min-width: 1170px) {
    // height: 100%;
    position: relative;
    width: 0;

    &.open {
      width:  13rem !important;;

      .s-header {
        .opened-header {
          display: block;
        }

        .close-header {
          display: none;
        }
      }

      .s-footer {
        .opened-footer {
          display: block;
        }

        .close-footer {
          display: none;
        }
      }
    }

    &.close {
      width: 5rem;

      .s-header {
        .opened-header {
          display: none;
        }

        .close-header {
          display: block;
        }
      }

      .s-footer {
        .opened-footer {
          display: none;
        }

        .close-footer {
          display: block;
        }
      }
    }
  }
}
.icon {
  font-size: 1.2rem !important;;
}
.s-btn-info {
  background-color: #3761ee;
  color: #ffffff;
}
.fo {
  margin: auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #9c9c9c;
}
.close-footer {
  margin: 10px;
}
.etat {
  font-size: 12px;
  color: #666666;
  margin-top: -10px;
}
.section {
  position: relative;
}

.details {
  position: absolute;
  width: 13rem;
  z-index: 10000;
  left: 5rem;
  overflow: hidden;

  background: darken($bg-one, 0.1%);
  border: none;
  border-radius: 0px 13px 13px 0px;
  margin-bottom: -1px;


  &::before {
    content: "";
    position: absolute;
    z-index: 103000;
    padding: 0;
    background-color: #022aad;
    border-radius: 5px;
    border: #3761ee 10px;
    left: 0;
    top: 3333;
    margin-left: -20px;
  }
  textarea {
    width: 100%;
    height: 100%;
    background: rgb(48, 48, 48);
    color: #fcfcfc;
    border: none;
    border-radius: 7px;
  }

  .sidebar_2 {
    display: flex;
    flex-direction: column;
    position: relative;
    background: darken($bg-one, 10%);
    overflow: hidden auto;
    height: 100%;
    z-index: 9;
    bottom: 0;
    left: 0;
      border-left: #ffffff 4px solid;
    transition: 350ms ease-in;
    transform: translateX(-100%);

    .s-main {
      margin: auto;
      margin: 5px 5px;
      background-color: $b_color_itomes_of_the_sidebar;
      border-radius: 7px;
      padding: 5px 5px;

      // box-shadow: rgba(60, 64, 67, 0.13) 0px 1px 2px 0px, rgba(60, 64, 67, 0.055) 0px 2px 6px 2px;
      //
      .shecend_body {
        border-left: #cacaca57 solid 2px;
        margin-left: 10px;
        background: darken($bg-one, 1%);
      }

      .s-ul {
        list-style: none;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px 0px;

        .col-12 {
          .tabs {
            border-radius: 7px;
            overflow: hidden;

            .tab {
              width: 100%;
              color: darken($lable-color, 30%);
              overflow: hidden;

              &:hover {
                color: darken($lable-color, 80%);
              }

              &-label {
                width: 100%;
                padding: 0.7em;
                background: $bg-one;
                font-weight: bold;
                cursor: pointer;

                /* Icon */
                &:hover {
                  background: darken($bg-one, 2%);

                  .one_label {
                    color: darken($lable-color, 30%);
                  }
                }
              }

              .notlabel {
                display: flex;
                padding: 0.7em;
                background: darken($bg-one, 1%);
                font-weight: bold;
                cursor: pointer;

                /* Icon */
                &:hover {
                  background: darken($bg-one, 5%);

                  .secend_label {
                    color: darken($lable-color, 5%);
                  }
                }
              }

              &-content {
                max-height: 0;
                padding: 0 0em;
                color: $bg-one;
                background: white;
                transition: all 0.35s;
              }

              &-close {
                display: flex;
                justify-content: flex-end;
                padding: 1em;
                font-size: 0.75em;
                background: $bg-one;
                cursor: pointer;

                &:hover {
                  background: darken($bg-one, 2%);
                }
              }

              input {
                position: absolute;
                opacity: 0;
                z-index: -1;
              }

              input:checked {
                + .tab-label {
                  background: darken($bg-one, 2%);
                .init {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-bottom: $p-color 0.1px dotted;
                    // box-shadow: darken($p-color, 10%) 0px 4px 450px 5px,
                    //   darken($p-color, 10%) 0px -12px 450px 30px,
                    //   darken($p-color, 10%) 0px 4px 450px 6px,
                    //   lighten($p-color, 90%) 0px 12px 50px 13px,
                    //   lighten($p-color, 30%) 0px -3px 50px 5px,
                    //   lighten($p-color, 30%) 0px 30px 60px -12px inset,
                    //   lighten($p-color, 10%) 0px 18px 36px -18px inset;
                  }

                  .init-2 {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-bottom: $p-color 0.1px dotted;

                  }
                  .one_label {
                    color: darken($lable-color, 70%);
                  }

                  &::after {
                    transform: rotate(90deg);
                  }
                }

                ~ .tab-content {
                  max-height: 100vh;
                }
              }

              .one_label {
                font-size: $label-font-size;
                color: $lable-color;
                margin-inline: $label-margin-inline !important;

                &:hover {
                  color: darken($lable-color, 70%);
                  font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                    "Helvetica Neue", sans-serif;
                }
              }

              .secend_label {
                font-size: calc($label-font-size - 15%);
                color: lighten($lable-color, 10%);
                margin-inline: $label-margin-inline !important;

                &:hover {
                  color: darken($lable-color, 3%);
                  font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                    "Helvetica Neue", sans-serif;
                }
              }
            }
          }
        }
      }
    }

    &.close {
      transform: translateX(0);
    }

    &.open {
      transform: translateX(0);
    }
  }
}

.active {
  background: darken($bg-one, 3%);

.y{
  border-left: $p-color solid 5px;
  border-radius: 20px;
 margin-top:-4px ;
//  margin-bottom: -2px;
 margin-left:2px ;
 margin-right:7px ;

}
  span {
    font-weight: 800 !important;
    color: $p-color !important;
    font-weight: 900;
  }
}
