@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./assets/scss/style.scss";



$ahmed : #333;

a {
  text-decoration: none;
}

.etat-badge {
  border-radius: 5px;
  padding: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.etatObjet-active,
.etatCreation-terminer,
.etatCreation-cloturer,
.etatCreation-valider {
  background: #c8e6c9;
  color: #6d28d9;
}

.etatCreation-validation {
  background: #7bc37d;
  color: #6d28d9;
}

.etatObjet-archive,
.etatCreation-creation {
  background: #feedaf;
  color: #8a5340;
}

.etatCreation-creation {
  background: #feedaf;
  color: #8a5340;
}

// #region colorize style
.table-cell-badge {
  border-radius: 5px;
  padding: 0.3rem;
  text-transform:capitalize;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.3px;
}

.green-badge {
  background-color: #c8e6c9;
  color: #2886d9;

}

.brown-badge {
  background-color: #ffd8b2;
  color: #805b36;
}

.red-badge {
  background-color: #ffcdd2;
  color: #c63737;
}

.yellow-badge {
  background-color: #feedaf;
  color: #8a5340;
}

.orange-badge {
  background-color: #fed7aa;
  color: #ea580c;
}

.lime-badge {
  background-color: #d9f99d;
  color: #e6e7e7;
}

.teal-badge {
  background-color: #ebc474;
  color: #ffffff;
}

.indigo-badge {
  background-color: #e0e7ff;
  color: #4338ca;
}



.blue-badge {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  font-size: 15px;
  padding: 7px;


      background-color: #5fcf7b7a;
      color: #585858;
}

.purple-badge {
      background-color: #d893a3;
        color: #b30021;
}

.gray-badge {
  background-color: #6fcaea;
  color: #ebebeb;
}

// #endregion
.p-panelmenu .p-panelmenu-header>a {
  padding: 0.8rem 1rem !important;
}

span {
  span.error-span {
    position: absolute;
    left: 0.6rem;
    bottom: -1.5625rem;
    width: max-content;
    color: rgba(var(--bs-danger-rgb), 1);
  }

  &.p-input-icon-left span.error-span {
    left: 2.4rem;
  }
}

.p-inputnumber-input,
.p-inputnumber,
.p-treeselect,
.p-autocomplete,
.p-calendar {
  width: 100%;
}

.p-datatable .p-datatable-tbody>tr>td>img {
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 0.3rem;
  object-fit: cover;
}

.dropzone-custom {
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  &.viewMode .dropzone {
    border: none;
    height: 228px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0rem 0.0625rem 1.0625rem -0.25rem rgb(0 0 0 / 25%);
  }

  .dropzone {
    width: 100%;
    height: 100%;
    min-height: 13.5625rem;
    border-radius: 1rem;
    text-align: center;
    border-style: dashed;
    align-items: center;
    overflow-x: auto;

    .bi-cloud-arrow-up-fill {
      font-size: 50px;
      color: #062e40;
    }

    h4 {
      font-size: 18px;
    }

    .dz-preview {
      z-index: 8;
      border-radius: 0.3125rem;
      margin: auto;
      margin-inline: auto;

      +.dz-preview {
        margin-inline-start: 1rem;
      }

      .dz-image {
        border-radius: 0.3125rem;
        border: none;
      }
    }
  }

  .dz-image {
    margin: auto;
  }
}

.p-datatable .p-datatable-tbody>tr>td .action-button {
  margin-inline-end: 0.5rem;
  padding: 0px;
  font-size: 0.1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 1.6rem !important;
}

.p-component {
  font-size: 0.9rem !important;
}

.country-item {
  img {
    width: 50px;
    margin-inline-end: 1rem;
  }
}

.country-item-value {
  img {
    width: 20px;
    margin-inline-end: 1rem;
  }
}

.pretty-print {
  font-family: dejavu sans mono, monospace;
  user-select: text;
  line-height: 20px;

  span {
    &.object-key {
      font-weight: 700;
      color: rgba(136, 20, 135, 255);
    }

    &.object-value-string {
      white-space: pre;
      unicode-bidi: -webkit-isolate;
      color: rgba(201, 1, 8, 255);
    }

    &.object-value-number-boolean {
      white-space: pre;
      unicode-bidi: -webkit-isolate;
      color: rgba(40, 34, 169, 255);
    }
  }
}

.dropzone-label {
  position: absolute;
  pointer-events: none;
  margin-top: -0.5rem;
  line-height: 1;
  top: -0.75rem;
  font-size: 12px;
}

.slider-value {
  position: absolute;
  top: -19px;
  background-color: rgb(70, 81, 87);
  color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 2px 6px;
  transform: translateX(-50%);
  left: 51%;
  z-index: 1200;

  &::after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: rgb(70 81 87);
    position: absolute;
    display: block;
    bottom: -22%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.dynamic-form {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .form-grid-container {
    flex-grow: 1;
    margin-top: 0.9rem;

    .form-grid {
      $grid-row-gap: 30px;
      $grid-columns: 1;
      display: grid;
      gap: 50px $grid-row-gap;
      grid-template-columns: repeat($grid-columns,
          calc(calc(100% - calc(calc($grid-columns - 1) * $grid-row-gap)) / $grid-columns ));

      .input-container {
        grid-column-end: span $grid-columns;
        position: relative;
        width: 100%;
        height: 100%;
        margin-inline: auto;

        .input-switch-container {
          width: 100%;
          display: flex;
          align-items: center;
          margin-top: 0.5rem;

          label {
            margin-inline-end: 3rem;
          }
        }

        .input-rating-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0.5rem;
          padding-inline-start: 12px;

          label {
            margin-block: 0 0.8rem;
            margin-inline: 0rem auto;
            font-size: 12px;
            line-height: 12px;
          }
        }

        label {
          color: #6c757d;
          margin-inline-end: 0.8rem;
        }

        >span {
          width: 100%;
        }
      }

      @for $i from 1 through 5 {
        .row-span-#{$i} {
          grid-row-end: span $i;
        }
      }


    }
  }

  .form-footer {
    display: flex;
    margin-top: 2rem;
    grid-column-end: -1;

    button {
      width: fit-content;
      margin-block: 1rem 0.5rem;

      // &.prev-tab-button {}
      &.next-tab-button {
        margin-inline-start: auto;
      }

      &.submit-button {
        margin-inline-start: auto;

        &~button.next-tab-button {
          margin-inline-start: 2rem;
        }
      }
    }
  }
}



// .p-datatable-header {
//   background-color: #25602900 !important;
//   border: none !important;
// }

// .ng-star-inserted {
//   background-color: #25602900 !important;
//   border: none !important;
// }

// .p-datatable-header {
//   background-color: #25602900 !important;
//   border: none !important;
// }

// .ng-star-inserted {
//   border: none !important;
//   border: none !important;
// }

// .p-datatable {
//   border: none !important;

// }

.p-datatable-header {
  background-color: #ffffff !important;
  border: none !important;
}












// .p-submenu-expanded {
//   background-color: #ff0000 !important;

// }


//   .ng-star-inserted {
//     background-color: #c4d1d1 !important;
//   }

//   .ng-tns-c182-3 {
//     background-color: #11df89 !important;
//   }



//  .p-menuitem-link-active{
//       background-color: #1141df !important;
//  }
//  .ng-tns-c181-8{
//     background-color: #11df89 !important;
//  }

// .p-menuitem-text{
//       background-color: #ffffff !important;
// }



// .isOpened>td {
//   background-color: #ececec !important;
// }

// .isOpened {
//   background-color: #ececec!important;
//   border: none;
// }

// .isBlacked {
//   position: relative;

//   :before {
//     display: block;
//     content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     background-color: rgba(145, 145, 145, 0);
//   }
// filter: blur(0.6px);

// }

.p-overlaypanel .p-overlaypanel-content {
   padding:0.5rem;
}
.p-overlaypanel{
  padding:0.5rem;
    .p-overlaypanel-content{

  padding:0.5rem;
    }

 border-radius: 10px 20px 20px 20px !important;
}
.p-overlaypanel-close {
  color: #888787 !important;


  background-color: #ffffff!important;
  margin-top: 20px;
  margin-right: 20px;

  border:#888787 solid;
  padding: 0px;
   font-family: 100;
.pi {
    font-size: 1rem;

  }
  &:hover{
    color:rgb(97, 96, 96)7 !important;
    margin-top:   22px;
    margin-right: 22px;
    border: #535353 solid;
  }
}


//range
.p-slider {

    .p-slider-range{

      color: #6d28d9 !important;
        background: #6d28d9;
    }
    .p-slider-handle{

      border-color: #6d28d9;
      &:hover{
        background-color: #6d28d9;
      }
    }
}



//chips
.p-chips-token{  color: #6d28d9!important;}
.p-chips-token-icon{ color: #696767a8 ;}



 .p-chips {
   >ul {
     width: 100% !important;
     border: none !important;
     background-color: rgba(216, 216, 216, 0.333) !important;
     border-radius: 1rem !important;


     &:hover {

       box-shadow: none !important;
       background-color: #fff8 !important;
       box-shadow: 0 .1rem .4rem #0002 !important;
     }
   }
 }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

























































.buttonnew,
.buttonnew:visited {
  // background: url("overlay.png") repeat-x scroll 0 0 #222222;
  border: 0 solid rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.small.buttonnew,
.small.buttonnew:visited {
  font-size: 11px;
}

.buttonnew,
.buttonnew:visited,
.medium.buttonnew,
.medium.buttonnew:visited {
  font: 11px/1.5 "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  // background: url("button_colors.png") repeat-x scroll 0 0 transparent;
}

.large.buttonnew,
.large.buttonnew:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}

.super.buttonnew,
.super.buttonnew:visited {
  font-size: 34px;
  padding: 8px 14px 9px;
}

.pink.buttonnew,
.magenta.buttonnew:visited {
  background-color: #E22092;
}

.pink.buttonnew:hover {
  background-color: #C81E82;
}

.green.buttonnew,
.green.buttonnew:visited {
  background-color: #91BD09;
}

.green.buttonnew:hover {
  background-color: #749A02;
}

.red.buttonnew,
.red.buttonnew:visited {
  background-color: #E62727;
}

.red.buttonnew:hover {
  background-color: #CF2525;
}

.orange.buttonnew,
.orange.buttonnew:visited {
  background-color: #FF5C00;
}

.orange.buttonnew:hover {
  background-color: #D45500;
}

.blue.buttonnew,
.blue.buttonnew:visited {
  background-color: #039909;
}

.blue.buttonnew:hover {
  background-color: #267004;
}

.yellow.buttonnew,
.yellow.buttonnew:visited {
  background-color: #FFB515;
}

.yellow.buttonnew:hover {
  background-color: #FC9200;
}


























.p-tooltip{

 font-size: large!important;




}
.p-tooltip-arrow{


   padding: 1px !important;

}
.p-tooltip-text{

 padding: 0.5rem !important;
 font-size: 13px!important;

}




// .p-overlaypanel



