<div class="app-wrapper">
  <app-header sidebarShow [(showSidebar)]="isSidebarOpen"></app-header>
  <div class="content-wrapper">
    <div class="sidbar">
      <app-sidebar (showSidebarupdated)="showSidebarupdatedF($event)"   [showSidebar]="isSidebarOpen"></app-sidebar>
    </div>
    <div class="content-container">
      <p-toast></p-toast>
      <app-breadcrumb></app-breadcrumb>
        <main class="main">
          <router-outlet></router-outlet>
        </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<p-dialog
    header="Timeout"
    [modal]="true"
    [(visible)]="this.authService.showInvalidTokenModel"
    (visibleChange)="closeTokenDialog($event)"
    [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="body">
    {{'The token is no longer valid and you will be redirected to the login page' | translate|titlecase}}
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" label="ok" class="p-button-sm" pButton (click)="closeTokenDialog()"></button>
  </ng-template>
</p-dialog>
<p-dialog [modal]="true" [(visible)]="!authService.canAccess" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-space-between" style="color :red">
      <i class="pi pi-ban me-3" style="font-size: 2rem"></i>
      <span class="p-dialog-title">{{'authorization' |translate|titlecase}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    {{'you are not authorized to access to this space' | translate|titlecase}}
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" label="ok" class="p-button-sm" pButton (click)="close()"></button>
  </ng-template>
</p-dialog>
<!-- <undoDelete-dialog></undoDelete-dialog> -->












<!--
<div class="flex cursor-pointer items-center justify-between bg-white px-4 py-3 border-b border-gray-300">
  <div class="flex items-end space-x-2">
    <h3 class="font-mono text-base leading-6 text-clearbox_black">
      debt_to_income
    </h3> <span aria-hidden="true" class="font-mono text-xs leading-6 text-gray-500">·</span> <span
      class="font-mono text-xs leading-6 text-gray-500">number</span>
  </div> <button
    class="focus:outline-none inline-flex items-center rounded-xl px-2.5 py-1.5 text-xs font-medium text-clearbox_purple underline hover:text-clearbox_purple-darkest hover:no-underline focus:ring-1 focus:ring-indigo-200 focus:ring-offset-2"><span>Hide</span></button>
</div> -->


