



@import "../../../node_modules/bootstrap/scss/bootstrap";
// @import "~node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../../node_modules/flag-icons/sass/flag-icons.scss";
@import "~dropzone/dist/min/dropzone.min.css";

// @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");
